<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= book.title %></h1>
  <h2><%= book.authorId.name %></h2>
  <% book.categoryId.forEach(cat => { %>
    <a href="/books/categories/<%= cat.id %>"><%= cat.categoryName %></a>
  <% }) %>
  <h3><%= book.summary %></h3>
</body>
</html>