<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>create article form</h1>
  <form action="/articles/<%= article.id %>/edit" method="POST">
    <input type="text" name="title" placeholder="title" value="<%= article.title %>">
    <textarea name="description"cols="30" rows="10" placeholder="enter description">
      <%= article.description %>
    </textarea>
    <input type="text" name="tags" placeholder="enter tags space separated" value="<%= article.tags.join(' ') %>">
    <input type="text" name="author" placeholder="author" value="<%= article.author %>">
    <input type="submit" value="submit">
  </form>
</body>
</html>