<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>article info <%= article.title %></h1>
  <p><%= article.description %></p>
  <ul>
    <% article.tags.forEach(tag => { %>
      <li><%= tag %></li>
    <% }) %>
  </ul>
  <p><%= article.author %></p>
  <p><%= article.likes %></p>

  <a href="/articles/<%= article.id %>/likes/inc">like</a>
  <a href="/articles/<%= article.id %>/likes/dec">dislike</a>
  <a href="/articles/<%= article.id %>/edit">edit article</a>
  <a href="/articles/<%= article.id %>/delete">delete article</a>
</body>
</html>